<mat-toolbar>
    <button mat-icon-button routerLink="/">
        <mat-icon>home</mat-icon>
    </button>

    <div class="left_container">
        <button *ngIf="basketElementCount > 0" mat-icon-button [matMenuTriggerFor]="menu" [matBadge]="basketElementCount" matBadgeColor="warn">
            <mat-icon>
                shopping_cart_checkout
            </mat-icon>
        </button>
        <button *ngIf="basketElementCount == 0" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>
                shopping_cart_checkout
            </mat-icon>
        </button>

        <mat-menu #menu="matMenu">
            <div class="container">
                <button mat-menu-item routerLink="/basket">show basket</button>
            </div>
        </mat-menu>
    </div>
</mat-toolbar>